@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Grandstander Variable', sans-serif;
	}

	button[disabled] {
		@apply opacity-50 cursor-not-allowed;
	}
}

@layer components {
	.btn {
		@apply bg-teal-600 text-teal-50 px-6 pt-4 pb-3 rounded text-lg;
	}
}

@layer utilities {
	.d-min-h-screen {
		@apply min-h-screen;
		min-height: 100dvh;
	}

	.d-h-screen {
		@apply h-screen;
		height: 100dvh;
	}
}
